.Collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 99vh;
  overflow-y: auto;

  .options {
    grid-column: 1/4;
    
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .end {
    margin: 0 auto;
    grid-column: 1/4;
    width: 100%;
    font-size: x-large;
    background-color: #999;
    color: white;
    text-align: center;
    border-radius: 1rem;
    padding: 3rem 0;
    a {
      color: black;
    }
  }

  .loader {
    display: inline-block;
    width: 100px;
    height: 100px;
    grid-column: 1/4;
    margin: 0 auto;
    z-index: 3000;
  }
  .loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #666;
    border-color: #666 transparent #666 transparent;
    animation: loader 1.2s linear infinite;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  &::-webkit-scrollbar {
    display: none;
  }
}
